:root {
    --white-color: white;
    --yellow-color: #F9C500;
    --blue-color: #161C2E;
  }


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.main-pic {
    height: 100vh;
    width: 100%;
    position: relative;
}
nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 24px; 
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    color: var(--white-color);
}

nav ul {
    list-style-type: none;
    font-size: 22px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    line-height: 2;
}
nav li {
    cursor: pointer;
    margin-left: 50px;
}
nav li:hover {
    text-decoration: underline 2px solid #fff;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
}
.title {
    position: absolute;
    top: 30%;
    left: 27%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white-color);
}
.title h1 {
    font-size: 58px;
    font-weight: 800;
}
.title p {
    margin: -20px;
}
.title button {
    padding: 25px;
    width: 280px;
    border-radius: 28px;
    background: transparent;
    border: 3px solid white;
    margin: 40px;
    color: var(--white-color);
    font-size: 20px;
    cursor: pointer;
}
.title button:hover {
    background-color: white;
    color: var(--yellow-color);
}

.second-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
    background-color: rgb(235, 220, 220);
    font-size: 20px;
}
.second-title h1 {
    padding: 10px;
    box-shadow: inset 0 0 20px gray;
}

.container {
    display: flex;
    width: 100%;
    margin: 0;
  }

  .image {
    width: 50%;
    height: 100vh;
  }

  .text-content {
    width: 50%;
    background-color: #161C2E;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .text-content h1 {
    text-align: left;
  }

  .text {
    padding: 70px;
    width: 465px;
  }

  .text span {
    color: silver;
  }

  img {
    max-width: 100%;
    height: 100vh;
  }
  #btn-1, #btn-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid silver;
    color: silver;
    cursor: pointer;
  }

  #btn-2 {
    background-color: #F9C500;
    width: 140px;
    color: var(--blue-color);
    font-size: 14px;
    font-weight: 550;
    border: none;
  }
  #btn-1:hover {
    background-color: silver;
    color: var(--blue-color);
  }

  #btn-2:hover {
    background-color: silver;
    color: var(--blue-color);
  }

  .container-two {
    display: flex;
    width: 100%;
    margin: 0;
  }

  #btn-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 25px;
    margin-top: 50px;
    background-color: transparent;
    width: 140px;
    color: white;
    border: 1px solid silver;
    font-size: 14px;
    font-weight: 550;
    cursor: pointer;
    font-size: 16px;
  }
  #btn-3:hover {
    background-color: var(--yellow-color);
    border: none;
    color: var(--blue-color);
  }